@{
    ViewData["Title"] = "Вход";
}

@section Scripts {
    <script src="/root/scripts/Authorization/LoginModal.js"></script>
}
<div id="login-modal">
    <div class="modal fade" :class="{ 'show d-block': isModalOpen }" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 align="center" class="modal-title">@ViewData["Title"]</h1>
                </div>
                <div class="modal-body">
                    <div v-if="errors.response" class="alert alert-info" role="alert">
                        {{errors.response}}
                    </div>
                    <form id="login-form">
                        @Html.AntiForgeryToken()
                        <div class="mb-3">
                            <label class="form-label">Почта</label>
                            <input id="email" v-model="loginForm.email" type="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                            <span v-if="errors.email" class="text-danger">{{errors.email}}</span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <input id="password" v-model="loginForm.password" type="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" required />
                            <span v-if="errors.password" class="text-danger">{{errors.password}}</span>
                        </div>
                        <div class="row m-0">
                            <div class="col">
                                <div class="form-check">
                                    <label class="form-label">
                                        <input class="form-check-input" type="checkbox" v-model="loginForm.rememberMe" />
                                        Запомнить
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" v-on:click="submitForm">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade" :class="{ 'show': isModalOpen, 'd-none': !isModalOpen }"></div>
</div>