@{
	ViewData["TItle"] = "Дэшборд";
}

<div class="container p-0 mt-4">
	<div class="row">
		<div class="col-sm-4 mb-3 mb-sm-0">
			<div class="card" style="height: 250px">
				<div class="card-body">
					<h5 class="card-title">Управление каталогом</h5>
					<p class="card-text">На странице управления каталогом, вы можете полностью управлять созданными в системе товарами, а также создавать новые</p>
					<a href="@Url.Action("Index", "Products", new { area = "Manager" })" class="btn btn-primary">Перейти</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card" style="height: 250px">
				<div class="card-body">
					<h5 class="card-title">Управление пользователями</h5>
					<p class="card-text">На странице управления пользователями, вы можете полностью управлять созданными аккаунтами пользователей, организациями, а также создавать новые</p>
					<a href="@Url.Action("Index", "Distributors", new { area = "Manager" })" class="btn btn-primary">Перейти</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card" style="height: 250px">
				<div class="card-body">
					<h5 class="card-title">Управление заказами</h5>
					<p class="card-text">На странице управления заказами, вы можете управлять заказами, которые создали пользователи</p>
					<a href="@Url.Action("Index", "Manage", new { area = "Manager" })" class="btn btn-primary">Перейти</a>
				</div>
			</div>
		</div>
	</div>
</div>