@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" asp-area="Identity" asp-page="/Account/Manage/Index" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity?.Name
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<li>
				<p class="dropdown-item mb-0" style="margin-left: 8px">
					Ваши роли:
					@foreach (var item in User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role).Select(c => c.Value).ToList())
					{
						<br />
						@item
					}
				</p>
			</li>
			<li>
				<form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
					<button type="submit" class="nav-link btn btn-link text-dark text-start">Выход</button>
				</form>
			</li>
		</ul>
	</li>
}
else
{
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Войти</a>
	</li>
}
</ul>
